h1 {
  text-align: center;
}

body {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(98, 0, 128), yellow);
  min-height: 100vh;
  font-size: 1rem;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.wider {
  margin-bottom: 0.5rem;
}
